
.background {
  display: grid;
  place-items: center;
}

.texto {
  color: #7c7c7c;
}

.modal-login {
  margin: 5rem 5rem 1rem 5rem;
  background-color: #ffff;
  border-radius: 8px;

  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;

}

.modal-top {
  display: flex;
  align-items: center;
  padding: 4rem 4rem 1rem 4rem;
}

.formulario {
  margin: 2rem;
  padding: 1rem;
}

.botao {
  margin: 2rem 0rem 2rem 4rem;
}


